#navigation {
  width: 80%;
  margin: 0.5em 0;
}
.sm #navigation {
  flex: 2;
  padding: 3em 0;
  margin: 0;
}
.md #navigation {
  flex: 2;
  padding: 3em 0;
  margin: 0;
}


header {
  flex-grow: 1;
  opacity: 1;
}
.sm header {
  align-items: center;
  position: static;
}
.md header {
  position: absolute;
}
header h1 span {
  font-size: 2em;
}

nav {
  margin: 0 2em;
}

.sm nav { 
  margin: 0;  
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
nav ul li a {
  font-weight: bolder;
  letter-spacing: 0.085em;
  font-size: 1.15em;
}
nav ul li a:hover { 
  color: navajowhite !important;  
}
nav a {
  text-decoration: none;
}
.sm nav:nth-child(1) {
  display: none;
}
.md nav:nth-child(1) {
  display: none;
}
nav:nth-child(2) {
  display: none;
}
.sm nav:nth-child(2) {
  float: right;
  cursor: pointer;
}
.md nav:nth-child(2) {
  float: right;
  cursor: pointer;
  top: 3px;
  position: absolute;
  right: 3%;
}

li a {
  text-decoration: none;
  color: #39053f !important;
  font-size: 0.95em;
  font-weight: lighter;
}
li a:hover {
  color: yellow;
}

.sm h1 {
  font-size: 1em;
}
.md h1 {
  font-size: 1em;
}

.mobile a span {
  border: 3px solid;
  border-image-source: linear-gradient(to left, #E91E63, #FF9800);
  border-image-slice: 1;
}

#landing .mobile a span { 
  font-size: 2.5em; 
} 
#collaborate-page .mobile a span, #digital-page .mobile a span, #film-page .mobile a span, #theatre-page .mobile a span { 
  font-size: 2em; 
} 
.sm .mobile { 
  display: flex;  
  justify-content: flex-end;  
}
.md .mobile {
  display: block;
}
.mobile ul {
  top: 0;
  position: absolute;
  z-index: 24;
  width: 100%;
  left: 0;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
  display: block;
  flex-direction: column;
}
.mobile ul li { 
  margin: 0.05em 0; 
  background: #000000c9;  
  padding: 0.85em 0;  
  display: block; 
  border-bottom: 1px solid black; 
  font-size: 2.5em;  
  border-image-source: linear-gradient(270deg, #ff0079, #ffc410, #df420f, #01bffa); 
  border-image-slice: 1;  
} 
.mobile ul li:first-child { 
  padding: 0.5em; 
  margin: 0;  
} 
.mobile ul li:first-child a { 
  display: block; 
  text-align: right;  
  font-size: 1.5em; 
  margin-right: 1em;  
  margin-top: 0 !important; 
}

.mobile ul li a {
  font-size: 1.85em;
}

#mobileNav {
  display: none;
  position: fixed;
}
#panels {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sm #panels {
  z-index: 0;
}

.panel-container {
  font-family: "Cambria";
}

.panel-area {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}
.panel-area > div {
  flex: 1;
}
.sm .panel-area {
  flex-flow: column;
}
.sm .panel-area li {
  width: 100%;
  position: absolute;
  top: 0;
}
.md .panel-area {
  flex-direction: column;
}

.single-panel { 
  background-color: black;  
}

.md .single-panel {
  padding: 0;
}
.md .single-panel:nth-child(1) {
  z-index: 9;
}
.md .single-panel:nth-child(2) {
  z-index: 8;
}
.md .single-panel:nth-child(3) {
  z-index: 7;
}
.sm .single-panel:nth-child(1) {
  z-index: 9;
}
.sm .single-panel:nth-child(2) {
  z-index: 8;
}
.sm .single-panel:nth-child(3) {
  z-index: 7;
}
.single-panel .sectiontitle {
  padding-left: 0.25em;
  padding-top: 1.55em;
  background: black;
  margin: 0;
  font-size: 1.5em;
  font-family: monospace;
  text-transform: uppercase;
}
.md .single-panel .sectiontitle, .sm .single-panel .sectiontitle {
  font-size: 4em;
  padding-left: 0.5em;
}
.panel-header {
  color: whitesmoke;
  text-align: left;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  margin: 0 0 1em;
  font-weight: lighter;
}

.panel-content {
  padding: 2em;
  line-height: 2em;
  font-family: monospace;
  font-size: 1.25em;
  color: #ecda4c;
  letter-spacing: 0.2em;
  font-weight: lighter;
  cursor: pointer;
  opacity: 0;
  box-shadow: 1px 1px #374a47;
  width: 65%;
}
.panel-content a {
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: #9fd7e8 !important;
  font-style: italic;
  text-transform: lowercase;
  font-weight: bold;
  text-decoration: none;
}
.panel-content:hover {
  animation: fadein ease 1s forwards;
  -webkit-animation: fadein ease 1s forwards;
  -moz-animation: fadein ease 1s forwards;
  -o-animation: fadein ease 1s forwards;
  -ms-animation: fadein ease 1s forwards;
}
.md .panel-content {
  z-index: 13;
  padding-bottom: 5em;
  width: auto;
  font-size: 2.25em;
}
.sm .panel-content {
  margin: 0 auto;
  z-index: 13;
  width: 100%;
  font-size: 2.25em;
  padding: 1em;
}

#theatre-area .panel-content {  
  background-color: rgba(11, 0, 109, 0.82); 
} 
#film-area .panel-content { 
  background-color: rgba(167, 40, 0, 0.86); 
} 
#digital-area .panel-content {  
  background-color: rgba(206, 15, 80, 0.93);  
} 


.button-areas {
  display: none;
}
.md .button-areas .panel-number {
  margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  /* On hover, add a black background color with a little bit see-through */
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  /* On hover, add a black background color with a little bit see-through */
  background-color: rgba(0, 0, 0, 0.8);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em;
  margin-top: auto;
}

.fontwala {
  text-align: center;
}

#theatre-area {
  background-image: url("https://raw.githubusercontent.com/sprakash/self/master/theatregif.2aac526b.gif");
  background-repeat: no-repeat;
  background-position: -123px 0;
  background-size: cover;
}
.sm #theatre-area {
  background-size: cover;
  width: 100%;
  min-height: 33.3% !important;
  background-color: black;
  background-position: -110px 0;
}
.md #theatre-area {
  background-size: cover;
  width: 100%;
  background-position: 0 0;
  min-height: auto !important;
}
.md #theatre-area .panel-content {
  padding-bottom: 2em;
  margin-left: 0;
  text-align: left;
}

#theatre-area .sectiontitle {
  color: #00BCD4;
}


#film-area {
  background-image: url("https://raw.githubusercontent.com/sprakash/self/master/vanilla.79896c57.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sm #film-area {
  background-size: cover;
  width: 100%;
  min-height: 33.3% !important;
  background-position: 0;
  background-color: black;
}
.md #film-area {
  background-size: cover;
  width: 100%;
}
.md #film-area .panel-content {
  padding-bottom: 2em;
  margin-left: 0;
  text-align: left;
}

#film-area .sectiontitle {
  color: #f3407b;
}
.md #film-area .sectiontitle, .sm #film-area .sectiontitle {
  text-align: right;
  padding-right: 0.5em;
}

#digital-area {
  background-image: url("https://raw.githubusercontent.com/sprakash/self/master/priyasmask.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.sm #digital-area {
  background-size: contain;
  width: 100%;
  min-height: 33.3% !important;
  background-position: 50%;
  background-color: black;
}
.md #digital-area {
  background-size: contain;
  width: 100%;
  background-position: 50%;
}
.md #digital-area .panel-content {
  padding-bottom: 2em;
  margin-left: 0;
  text-align: left;
}

#digital-area .sectiontitle {
  color: #39dc5b;
}


/* Zoom in Keyframes */
/*End of Zoom in Keyframes */
/* Zoom out Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bio {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, #f970b1, #ffc1077d, #ff4b1296, #00c3ff);  
}
.sm #bio {
  padding: 0.5em;
  display: none;
}
.md #bio {
  display: none;
}
#bio-action {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
#bio-action span {
  text-align: left;
  font-size: 0.85em;
  bottom: 0;
  display: block;
  margin: 1em 0 0 0.15em;
}
.sm #bio-action span {
  text-align: center;
  width: 100%;
}

.bio .longbio {
  text-align: justify;
  padding: 1.5em 0 0;
}

.longbio {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.sm .longbio {
  line-height: 1.5em;
}

.longbio,
.fontwala {
  font-family: monospace;
  font-size: 1.15em;
  font-weight: normal;
  word-spacing: 0.2em;
  line-height: 2em;
  margin: 0.5em;
  padding: 0 1em;
  text-align: center;
}

.md .longbio,
.md .fontwala {
  font-size: 0.75em;
}

.quote {
  font-family: Cambria;
  font-style: italic;
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  display: block;
  background-color: #fff0f580;
  margin: 0.5em 1em 0 0;
  border: 1px solid;
  padding: 0 1em;
}
.sm .quote {
  text-align: center;
  font-size: 0.85em;
  margin-top: 0.85em;
}
#announcements {
  border: 1px solid grey;
}

#announce-content {
  color: #000;
  display: flex;
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  background: black;
  font-weight: bolder;
  padding: 0 1.5em;
}
#announce-content h1 {  
  color: #25c5f7; 
} 
#announce-content span {  
  color: #fabc84; 
} 
#announce-content a { 
  color: #a1dcef; 
}

.sm .announce-area {
  z-index: 0;
  display: none;
}
.sm #announcements {
  z-index: 23;
  line-height: 1.25em;
  font-size: 0.5em;
}
.sm #announce-content {
  font-size: 1.15em;
  line-height: 1.85em;
  padding: 0 0.5em;
}
.sm #announce-content h1 {
  font-size: 1em;
}

.md .announce-area {
  display: none;
}
.md #announcements {
  z-index: 23;
  font-size: 0.75em;
}

.svgStylin {
  text-align: right;
  position: relative;
  right: 0;
  display: flex;
}
.sm .svgStylin {
  display: flex;
  right: none;
  text-align: left;
  position: static;
}
.svgStylin span {
  padding: 0 0.5em;
  margin: 0 0.25em;
}
.sm .svgStylin span {
  margin-right: 0.5em;
  padding: 0;
}
.svgStylin span img {
  width: 2em;
  height: 2em;
  background-color: #f899ab;  
}
.svgStylin span:hover {
  border: 1px solid #00BCD4;
  border-radius: 10px;
  background-color: #00bcd436;
}
#topest[data-v-0d7b2c] {
  height: max-content;
}
#landing[data-v-0d7b2c] {
  height: 100%;
}
main[data-v-0d7b2c] {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.sm main[data-v-0d7b2c] {
  flex-direction: column-reverse;
}
header[data-v-0d7b2c] {
  display: flex;
  flex-direction: column;
  position: static;
}
.sm header[data-v-0d7b2c] {
  position: absolute;
  background: none;
}
.sm header h1[data-v-0d7b2c] {
  display: none;
}
.md header[data-v-0d7b2c] {
  position: absolute;
  background: none;
}
header h1[data-v-0d7b2c] {
  font-size: 2em;
  margin: 0.125em 0 0 0;
}
.md header h1[data-v-0d7b2c] {
  display: none;
}
#rolePanels[data-v-0d7b2c] {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#announceArea[data-v-0d7b2c] {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.md section[data-v-0d7b2c] {
  background-color: whitesmoke;
}
.md #panels[data-v-0d7b2c] {
  z-index: 0;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html .md, body .md {
  margin: 0 auto;
}

body {
  background-color: black;
  font-family: "Cambria";
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.md body {
  background-color: black;
}

h1 {
  margin: 0.67em 0.5em;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.md ul {
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
}

#content {
  background-color: lightblue;
}
.sm #content {
  flex-direction: column-reverse;
}

#content-fill {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  color: #24020a;
  border-top: 1px solid darkgrey;
  background: linear-gradient(270deg, #f970b1, #f5d880, #e27f5f, #00c3ff);  
  background-size: 100% 100%;
  color: #39053f;
  align-items: center;
  flex-grow: 1;
  z-index: 999;
  cursor: pointer;
}
.sm header {
  z-index: 25;
  flex-direction: inherit;
  padding: 0 2em;
}
.md header ul {
  flex-direction: row;
}

#topest {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: cornflowerblue;
  height: 100vh;
}

#grouped {
  display: flex;
  flex-direction: column;
  background-color: magenta;
  align-items: stretch;
  height: 100%;
}
.md #grouped {
  width: 80%;
}

#content {
  height: 100%;
}
.md #content {
  flex-direction: row;
  flex-wrap: nowrap;
}

.mobile a {
  color: white !important;
  font-weight: bold;
} 
#landing .mobile a {  
  margin-top: 2em;  
} 
.router-link-exact-active { 
  color: #f4ff42 !important;  
  font-size: 1.5em; 
}
#app[data-v-4520b8] {
  width: 100%;
}
header a[data-v-4520b8] {
  color: inherit;
  text-decoration: none;
}
.slicinItup[data-v-4520b8] {
  padding-top: 0em;
}
a[data-v-4520b8] {
  font-size: 1em;
  font-weight: bolder;
}
hr[data-v-4520b8] {
  margin-bottom: 2em;
}
h2[data-v-4520b8] {
  font-size: 1.25em;
  color: #500606;
  text-transform: capitalize;
}
h3[data-v-4520b8] {
  color: #bc1d53;
  text-transform: capitalize;
  margin: 0;
  padding: 1em 0.5em;
  font-size: 1.75em;
  background-color: black;
  font-family: monospace;
  line-height: 1.25em;
}
h3 span[data-v-4520b8] {
  color: #065172;
  text-transform: lowercase;
  font-size: 0.55em;
  display: block;
  line-height: 1.75em;
  margin: 0 auto 1em;
  padding: 1em 0 0;
}
h3 a[data-v-4520b8] {
  text-transform: lowercase;
  text-decoration: none;
  color: #72ff00c7;
  display: none;
}
h3[data-v-4520b8]:hover {
  cursor: pointer;
}
quote[data-v-4520b8] {
  color: #50848b;
}
.digital-groups[data-v-4520b8] {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
}
.sm .digital-groups[data-v-4520b8], .md .digital-groups[data-v-4520b8] {
  flex-direction: column;
}
.digital-groups[data-v-4520b8]:hover {
  cursor: pointer;
}
.digital-groups section[data-v-4520b8] {
  margin-bottom: 1em;
}
.digital-groups div[data-v-4520b8] {
  width: 50%;
  text-align: center;
  margin: 1em;
  font-size: 16px;
  line-height: 26px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #580a3d, #84051c, #c3c311, #1fdcaf, #090f54);
}
.sm .digital-groups div[data-v-4520b8] {
  margin: 0;
}
.sm .digital-groups div[data-v-4520b8], .md .digital-groups div[data-v-4520b8] {
  width: 100%;
}
.digital-groups div img[data-v-4520b8] {
  width: 100%;
}
.digital-groups div .descript[data-v-4520b8] {
  width: 100%;
  text-align: justify;
  text-transform: none;
  padding: 0 1em 1em;
  display: table-cell;
  border: 0 !important;
}
.digital-groups div .descript div[data-v-4520b8] {
  width: 100% !important;
  cursor: pointer;
}
.digital-groups div .descript button[data-v-4520b8] {
  border: none;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #5a49b7;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #dcdcdc63;
  cursor: pointer;
  width: 100%;
}
.digital-watch[data-v-4520b8] {
  font-weight: bold;
  color: #e67a83 !important;
  text-decoration: none;
}
#digital-content[data-v-4520b8] {
  padding-top: 4em;
  background-color: black;
  font-family: monospace;
  font-size: 14px;
  color: #B49393;
}
.sm #digital-content[data-v-4520b8] {
  padding-top: 2em;
}
.md #digital-content[data-v-4520b8] {
  padding-top: 8em;
}
#digital-title[data-v-4520b8] {
  padding: 2em 0 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}
#digital-title span[data-v-4520b8] {
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  margin-top: 0.5em;
}
#digital-title a[data-v-4520b8] {
  color: #3F51B5;
}
#digital-title div[data-v-4520b8] {
  padding: 1em 1em 0 1em;
  font-size: 1.25em;
  letter-spacing: 0.025em;
  text-transform: none;
  text-align: justify;
  width: 85%;
  margin: 0 auto 1em;
  font-family: monospace;
}
.sm #digital-title div[data-v-4520b8] {
  padding-bottom: 1em;
}
#digital-tag[data-v-4520b8] {
  display: flex;
}
#digital-tag a[data-v-4520b8] {
  width: 30%;
}
#digital-tag img[data-v-4520b8] {
  width: 100%;
}
#digital-tag span[data-v-4520b8] {
  padding: 0.5em 2em;
  text-align: justify;
  font-size: 1.25em;
}
#digital-tag span hr[data-v-4520b8] {
  margin: 2em 0;
}
.artby[data-v-4520b8] {
  font-size: 0.5em !important;
  text-align: center !important;
  margin: 0;
  color: darkblue;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding: 0;
  position: relative;
  top: -16px;
}
hr.inner[data-v-4520b8] {
  border-width: 0.15px;
  border-color: #0e555e;
  width: 50%;
  margin: 0.75em auto 0;
}
table[data-v-793753] {
  font-size: 0.75em;
  margin-top: 2em;
}
.sm table[data-v-793753] {
  display: none;
}
th[data-v-793753] {
  text-align: left;
  font-size: 1.25em;
  height: 2em;
  border-bottom: 1px solid grey;
  padding-left: 2em;
}
th[data-v-793753]:nth-child(6) {
  padding-left: 1.5em;
}
th div[data-v-793753] {
  text-transform: capitalize;
}
.md th[data-v-793753] {
  font-size: 1em;
}
td[data-v-793753] {
  border-bottom: 1px solid grey;
  padding-left: 2em;
}
.md td[data-v-793753] {
  font-size: 1em;
}
#shows[data-v-793753] {
  padding-top: 0.5em;
}
.show-container[data-v-793753] {
  margin: 0 auto;
  padding: 0 1em;
  background-image: url(mandolin.254498a3.jpg);
  background-repeat: repeat-y;
  background-size: contain;
}
.show-content[data-v-793753] {
  background-color: #000000c2;
}
.show-image[data-v-793753] {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10em;
}
.v-expansion-panel-header--active .show-image[data-v-793753] {
  background-size: contain;
}
.show-info[data-v-793753] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  text-align: center;
  font-size: 0.75em;
  width: 100%;
}
.show-mainImage[data-v-793753] {
  width: 25%;
}
.show-mainImage img[data-v-793753] {
  object-fit: contain;
  width: 100%;
  pointer-events: none;
}
.show-headers[data-v-793753] {
  font-size: 1.25em;
  color: #7d4d05;
  width: 100%;
  display: flex;
  letter-spacing: 0.1em;
  font-weight: bolder;
  margin-bottom: 0.5em;
  padding: 0.5em;
  justify-content: space-between;
  text-transform: uppercase;
}
.show-headers span[data-v-793753] {
  width: 50%;
  padding: 0 0.5em;
}
.show-headers span[data-v-793753]:last-child {
  text-align: right;
}
.show-filter[data-v-793753] {
  display: flex;
  flex-direction: column;
}
.sm .show-filter[data-v-793753] {
  flex-direction: column;
  flex-wrap: wrap;
}
.show-expanded[data-v-793753] {
  background-color: lightgrey;
  border: 1px solid #ff430859;
  border-top: none;
}
.show-expanded-blurb[data-v-793753] {
  font-size: 1.15em;
  line-height: 1.5em;
  padding: 1em 0 0.5em;
  color: black;
  text-transform: none;
  font-weight: normal;
}
.show-header[data-v-793753] {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  letter-spacing: 0.11em;
}
.md .show-header[data-v-793753] {
  text-align: left;
}
.v-expansion-panel-header--active .show-header[data-v-793753] {
  display: none;
}
.show-name[data-v-793753] {
  font-size: 1.5em;
  font-weight: 300;
  color: navajowhite;
  word-break: break-all;
  margin-bottom: 0.25em;
  line-height: 1.5em;
  flex-wrap: wrap;
  background-color: #05536b73;
  padding: 0 0.25em;
  text-transform: uppercase;
}
.sm .show-name[data-v-793753] {
  display: block;
  font-size: 2 em;
  text-align: left;
}
.show-year[data-v-793753] {
  font-size: 0.75em;
  margin: 0 !important;
  color: #00bcd4;
  font-weight: bold;
  display: block;
  padding-bottom: 0.5em;
}
.md .show-year[data-v-793753] {
  margin: 0;
  padding: 0;
}
.show-role[data-v-793753] {
  color: #e91e63;
}
.show-year[data-v-793753], .show-role[data-v-793753] {
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}
.sm .show-year[data-v-793753], .sm .show-role[data-v-793753] {
  display: block;
}
.md .show-year[data-v-793753], .md .show-role[data-v-793753] {
  margin: 0 !important;
  padding: 0 !important;
}
.md .show-details[data-v-793753] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
}
.show-links[data-v-793753] {
  text-transform: uppercase;
  font-size: 0.85em;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
}
.md .show-links[data-v-793753] {
  justify-content: center;
  margin: 1em 0;
}
.show-links span[data-v-793753] {
  margin: 0 2em 2em 0;
}
.show-links span a[data-v-793753] {
  padding: 1em 2em;
  background: #12aef58f;
  color: #084086;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 7px;
  letter-spacing: 0.15em;
  text-decoration: none;
}
.show-links span:nth-child(2) a[data-v-793753] {
  padding: 1em 0.5em;
}
.show-location[data-v-793753] {
  font-size: 0.75em;
  text-transform: uppercase;
  color: pink;
  display: block;
}
.md .show-location[data-v-793753] {
  text-align: left;
  margin: 0;
  padding: 0;
}
.show-side[data-v-793753] {
  display: flex;
  flex-direction: column;
  background-color: #000000e0;
}
.word-cloud[data-v-793753] {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 2em auto 0.5em;
}
.word-cloud span[data-v-793753] {
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: navajowhite;
  font-size: 1.5em;
  text-align: center;
}
.word-cloud ul[data-v-793753] {
  padding: 0.5em 1em;
  text-align: center;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.word-cloud ul li[data-v-793753] {
  color: #2b8492;
  border: 1px solid #2e2d69;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1.15em;
  margin: 0.25em;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.word-cloud ul li[data-v-793753]:nth-child(1) {
  font-weight: bolder;
  letter-spacing: 0.25em;
}
.v-item-group[data-v-793753] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}
.v-expansion-panel[data-v-793753] {
  margin: 0.5em 1.5em;
  background-position: center 10%;
  border: 2px solid;
  border-image-source: linear-gradient(to left, #40040f, #4e4e00, #045844, #090f54);;
  border-image-slice: 1;
  flex-grow: 1;
}
.v-expansion-panel[data-v-793753]:hover {
  box-shadow: 0px 0px 20px 0px #e91e63;
}
.v-expansion-panel button[data-v-793753] {
  padding: 0.25em 1em;
  background-color: #03a9f40f;
  font-size: 1em;
  color: #084086;
  width: 100%;
  font-weight: lighter;
  display: flex;
  cursor: pointer;
  justify-content: center;
  background-color: #130327bf;
  background-position: right;
  background-size: contain;
  border: 0;
}
.v-expansion-panel ul[data-v-793753] {
  font-size: 1em;
  padding: 0.5em 1.5em;
  color: darkblue;
  line-height: 1.5em;
  background-color: lightgrey;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.showActive[data-v-793753] {
  border: 2px solid #00bcd4 !important;
}
h1 span {
  font-weight: lighter;
}

header a {
  text-decoration: none;
  color: inherit;
}

.sm #content {
  flex-direction: column !important;
}

.md #grouped {
  width: 100% !important;
}

#content-theatre {
  margin-top: 2em;
  background-color: black;
}
.sm #content-theatre {
  margin-top: 0;
}

#theatre-content {
  font-family: monospace;
  padding-top: 2em;
}
.sm #theatre-content {
  padding-top: 2em;
}
.md #theatre-content {
  align-content: center;
  padding-top: 4em;
}
#theatre-download {
  color: #ff4d0b;
  text-decoration: underline;
  font-size: 0.85em;
  cursor: pointer;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
.md header {
  top: 0;
  bottom: inherit;
}

header h1 {
  background: none;
}

input[type=radio] {
  margin-right: 1em;
  vertical-align: baseline;
}

.slicinItup {
  font-size: 0.85em;
  padding: 1em;
  text-align: left;
  display: block;
  line-height: 1.95em;
  color: #3b323c;
  letter-spacing: 0.105em;
  text-transform: lowercase;
  background-color: white;
  margin-bottom: 1em;
  border-bottom: 1px solid darkslateblue;
}
.slicinItup h1 {
  text-transform: capitalize;
  margin: 0 0 1em 0;
  font-size: 1.5em;
  color: #19abdc;
  letter-spacing: 0.15em;
  font-weight: normal;
  padding-top: 1em;
}

.twoviews {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em auto 0;
  width: 50%;
}
.twoviews li {
  color: #e67a83;
  padding: 1em 2em;
  text-shadow: #c3e3fd 0 1px 1px 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
}
.md .twoviews {
  font-size: 1em;
  flex-direction: row;
}

.training-link {
  text-align: center;
  letter-spacing: 0.25em;
  font-family: monospace;
  color: #89cee2;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: bold;
  margin: 1em 0;
}

#trainingSkills {
  margin: 1.25em 2em;
}
.md #trainingSkills {
  margin: 1.25em 0 0.5em 1em;
}

.trainingList {
  line-height: 2em;
  margin-bottom: 2em;
  display: block;
  font-size: 0.65em;
}
.sm .trainingList, .md .trainingList {
  text-align: left;
  font-size: 0.5em;
}
.trainingList li {
  color: #907013;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.85em;
  padding: 1em;
  font-weight: normal;
}
.md .trainingList li {
  padding: 1em 0 1em 1em;
  font-size: 1.75em;
  line-height: 1.85em;
}
.trainingList li a {
  color: #0d6aad !important;
}

.skillsList {
  line-height: 2em;
  margin-bottom: 2em;
  display: block;
  font-size: 0.8em;
}
.sm .skillsList, .md .skillsList {
  text-align: left;
  font-size: 0.85em;
}

#trainingSkills h1,
.skills h1 {
  font-size: 1.5em;
  margin-left: 0;
  width: 95%;
  padding: 0.25em 1em;
  line-height: 2em;
  letter-spacing: 0.15em;
  color: navajowhite;
  text-align: center;
  border-bottom: 1px solid #4c2111;
}
.sm #trainingSkills h1, .md #trainingSkills h1,
.sm .skills h1,
.md .skills h1 {
  font-size: 1em;
  width: 100%;
}

#app[data-v-383e37] {
  width: 100%;
}
header a h1[data-v-383e37] {
  text-decoration: none;
  color: #39053f;
}
.slicinItup[data-v-383e37] {
  padding-top: 0em;
  text-transform: none;
}
a[data-v-383e37] {
  color: #a5641b !important;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
}
hr[data-v-383e37] {
  border-width: 0.15px;
  border-color: #503502;
}
h2[data-v-383e37] {
  font-size: 1.25em;
  color: #f3dfae;
  text-transform: capitalize;
  margin: 1em 0;
  font-weight: normal;
}
h3[data-v-383e37] {
  color: #f3dfae;
  text-transform: capitalize;
  font-size: 1.85em;
  font-weight: normal;
}
.sm h3[data-v-383e37], .md h3[data-v-383e37] {
  font-size: 1.5em;
}
.films-group[data-v-383e37] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 2em;
}
.sm .films-group[data-v-383e37], .md .films-group[data-v-383e37] {
  flex-direction: column;
}
.films-group div[data-v-383e37] {
  width: 30%;
  text-align: center;
  border: 2px solid;
  border-image-source: linear-gradient(to left, #580a3d, #84051c, #c3c311, #1fdcaf, #090f54);
  border-image-slice: 1;
}
.sm .films-group div[data-v-383e37], .md .films-group div[data-v-383e37] {
  width: 100%;
  margin-top: 2.5em;
}
.films-group div img[data-v-383e37] {
  width: 100%;
}
.films-group div .descript[data-v-383e37] {
  width: 100%;
  text-align: justify;
  text-transform: none;
  padding: 0 1em;
  display: table-cell;
  background: none;
  border: 0 !important;
  padding-bottom: 1em;
}
.films-group div .descript div[data-v-383e37] {
  width: 100% !important;
  cursor: pointer;
  border: 0 !important;
}
.films-group div .descript button[data-v-383e37] {
  border: none;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #5a49b7;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #dcdcdc63;
  cursor: pointer;
  width: 100%;
}
.films-look[data-v-383e37] {
  border: 2px solid;
  border-image-source: linear-gradient(to left, #580a3d, #84051c, #c3c311, #1fdcaf, #090f54);
  border-image-slice: 1;
}
.films-play[data-v-383e37] {
  display: inline-block;
}
.films-watch[data-v-383e37] {
  display: inline-block;
}
.sm .films-watch[data-v-383e37], .md .films-watch[data-v-383e37] {
  display: block;
}
#film-content[data-v-383e37] {
  padding-top: 8em;
  font-family: monospace;
  font-size: 16px;
  background-color: black;
  color: #f3dfae;
}
.sm #film-content[data-v-383e37] {
  padding-top: 8em;
}
.md #film-content[data-v-383e37] {
  padding-top: 8em;
}
#film-tag[data-v-383e37] {
  display: flex;
}
.sm #film-tag[data-v-383e37] {
  flex-direction: column;
}
#film-tag a[data-v-383e37] {
  width: 35%;
}
.sm #film-tag a[data-v-383e37] {
  width: 100%;
}
#film-tag img[data-v-383e37] {
  width: 100%;
  background-color: white;
}
#film-tag span[data-v-383e37] {
  padding: 0.5em 2em;
  text-align: justify;
  font-size: 1.25em;
}
#film-tag span hr[data-v-383e37] {
  margin: 2em 0;
}
.overlay-content[data-v-383e37] {
  width: 100% !important;
  border: 0 !important;
}
.overlay-content[data-v-383e37]:after {
  background-image: url("play.3e065c7c.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center center;
  background-size: 25%;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.95;
}
.overlay-parent[data-v-383e37] {
  position: relative;
  width: 100% !important;
  border: 0 !important;
}
.overlay-read-content[data-v-383e37] {
  width: 100% !important;
}
.overlay-read-content[data-v-383e37]:after {
  background-image: url("read.457a31d8.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center center;
  background-size: 25%;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.95;
}
.overlay-read-parent[data-v-383e37] {
  position: relative;
  width: 100% !important;
}
hr.inner[data-v-383e37] {
  border-width: 0.15px;
  border-color: #734a17;
  width: 50%;
}
#app {
  width: 100%;
}

header a {
  text-decoration: none;
  color: inherit;
}

h2 {
  color: #006976;
  font-size: 2em;
  text-align: center;
}

#topest {
  width: 100%;
}

.slicinItup {
  background-color: black;
  color: #7c803c;
}

.slicinItup h1 {
  text-transform: capitalize;
  margin: 0;
  font-size: 2.5em;
  color: #99473f;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}

#collaborate {
  text-transform: none !important;
  display: flex;
  flex-direction: column;
}
#collaborate-sections {
  padding: 0 2em;
}
#collaborate .collab {
  padding-top: 0.5em;
  padding-bottom: 2em;
}
#collaborate .collab a {
  text-decoration: underline !important;
  color: #2eaabe !important;
  text-transform: lowercase;
  letter-spacing: 0.15em;
}
#collaborate .collab-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  font-size: 1.5em;
  line-height: 1.85em;
  font-weight: bold;
}
.md #collaborate .collab-content {
  flex-direction: column;
}
.sm #collaborate .collab-content {
  flex-direction: column;
  margin-bottom: 2em;
}
#collaborate .collab-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.md #collaborate .collab-images {
  margin-bottom: 2em;
  justify-content: center;
}
.sm #collaborate .collab-images {
  margin-bottom: 2em;
  justify-content: center;
}
#collaborate .collab-images img {
  width: 90%;
  object-fit: contain;
}
#collaborate .collab-text {
  width: 100%;
  margin-left: 3em;
}
.md #collaborate .collab-text {
  margin-left: 0;
}
.sm #collaborate .collab-text {
  margin-left: 0;
}

#connect-content {
  padding-top: 4em;
  font-weight: 100;
  font-family: monospace;
}
.sm #connect-content {
  padding-top: 2em;
}
.md #connect-content {
  padding-top: 8em;
}

.collaborate-lists li {
  padding: 0.5em;
  background-color: #ff3bcc14;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.collaborate-lists li a {
  text-decoration: underline !important;
  color: #2eaabe !important;
}
.collaborate-lower {
  bottom: 0;
}
.collaborate-lower div {
  padding: 0.5em;
  background-color: #8f3bff63;
  margin: 0.5em 0;
}
.collaborate-lower article {
  font-weight: bold;
  padding: 1em 1.5em;
  text-align: center;
  background: linear-gradient(270deg, #f970b1, #f5d880, #e27f5f, #00c3ff);
  text-transform: none;
  color: black;
  font-size: 1.5em;
}

#reachout {
  font-weight: bold;
  font-size: 16px;
  margin: 1em 0;
}
#reachout h2 {
  background-color: black;
  color: #144f6a;
  padding: 0.75em 0;
  text-transform: capitalize;
  margin: 0;
  text-align: center;
}

.horiz {
  display: flex;
}
.horiz li {
  margin: 0 2em;
  padding: 0;
  background: none;
  line-height: 1.5em;
  border-bottom: none;
}

.svgStylin {
  color: white;
}
.svgStylin span img {
  width: 1.5em;
  height: 1.5em;
  background-color: #706969;
}
.svgStylin span:hover {
  background: none;
  border: none;
}
.svgStylin a:hover {
  background-color: none;
  border-color: none;
}
.svgStylin img {
  background-color: #f7a598;
  border-radius: 5px;
  cursor: pointer;
}
.svgStylin img:hover {
  background-color: white;
}

.multiple {
  width: 50% !important;
}

hr.inner {
  border: 0.15px solid #603e0e;
  width: 50%;
  margin: 1em auto 0;
}